/* You can add global styles to this file, and also import other style files */

@import "~libs/ui/dist/ui/src/styles.css";

* {
  box-sizing: border-box;
}
body {
  width: 300px;
  font-family: system-ui;
  padding: 0;
  background-color: var(--grey-200);
}

html {
  min-height: 90px;
}

a {
  text-decoration: none;
}
