/* You can add global styles to this file, and also import other style files */

@import "~libs/ui/dist/ui/src/styles.css";

* {
  box-sizing: border-box;
}
body {
  width: 300px;
  font-family: system-ui;
  padding: 0;
  background-color: var(--grey-200);
  position: relative;
}

html {
  min-height: 90px;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--grey-400);
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* adds padding effect */
}
