.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.splitter {
  margin: 0px 5px;
  width: 1px;
  background-color: var(--border-color);
  height: 100%;
}

.splitter:hover {
  margin: 0px 3.5px;
  width: 4px;
  cursor: col-resize;
}
.groups-section {
  padding: 1rem;
}

.pages-section {
  position: relative;
  flex: 1;
}

.gap-1 {
  gap: var(--gap-1);
}
