<div class="container">
  <!--
    <a [routerLink]="['/detail']"> go to detail</a>
   -->
  <div
    class="groups-section flex f-wrap align-content-start gap-1"
    [ngStyle]="{ width: panelSizeService.panelWidth + 'px' }"
  >
    <drop-zone
      *ngFor="let pageGroup of pageService.listPageGroup"
      [disabled]="pageGroup.id === pagesDragAndDropService.dropzoneId"
      (onDrop)="handleOnDrop($event, pageGroup)"
    >
      <draggable-item
        [id]="pageGroup.id"
        (onDragStart)="
          pagesDragAndDropService.handleDragStart(pageGroup.id, pageGroup)
        "
      >
        <app-group-card [group]="pageGroup">
          <app-card
            *ngFor="let page of pageGroup.pages | slice : 0 : 3"
            [small]="true"
          >
            <app-page-card-body
              [page]="page"
              [small]="true"
              body
            ></app-page-card-body>
          </app-card>
          <button
            *ngIf="pageGroup.pages.length > 3"
            (click)="openFullInfoGroup(pageGroup)"
          >
            Ver mas
          </button>
        </app-group-card>
      </draggable-item>
    </drop-zone>
  </div>
  <div
    class="splitter"
    (mousedown)="panelSizeService.handleResize($event)"
  ></div>
  <div
    class="pages-section flex gap-1 f-wrap align-content-start"
    (mousedown)="dragSelectService.onMouseDown($event)"
  >
    <drop-zone
      *ngFor="let page of pageService.pages"
      [disabled]="
        page.id === pagesDragAndDropService.dropzoneId ||
        (pagesDragAndDropService.draggableItemData &&
          pageService.isPageGroup(pagesDragAndDropService.draggableItemData))
      "
      (onDrop)="handleOnDrop($event, page)"
    >
      <draggable-item
        [id]="page.id"
        (onDragStart)="pagesDragAndDropService.handleDragStart(page.id, page)"
      >
        <app-card>
          <app-page-card-body [page]="page" body></app-page-card-body>
        </app-card>
      </draggable-item>
    </drop-zone>
  </div>
</div>

<router-outlet></router-outlet>
