<div class="flex f-direction-col gap-4">
  <p class="p-0 text-align-center">Inicia sesión</p>
  <div class="flex f-direction-col gap-4">
    <div class="flex f-direction-col gap-1">
      <div class="flex f-direction-col gap-0">
        <label class="p-3">Email</label>
        <input class="p-2 py-2" />
      </div>
      <div class="flex f-direction-col gap-0">
        <label class="p-3">Contraseña</label>
        <input class="p-2 py-2" />
      </div>
    </div>

    <button
      class="button bg-color-primary color-white p-2"
      [style]="{ fontWeight: '600' }"
    >
      <p class="w-full text-align-center py-0">Iniciar sesion</p>
    </button>
  </div>
</div>
