<div
  [style]="{
    position: 'relative',
    width: '100vw',
    height: '100vh',
    backgroundColor: 'var(--grey-50)'
  }"
  class="flex px-1 py-1"
>
  <div
    [style]="{ width: '50%', height: '100%' }"
    class="flex f-direction-col justify-content-center align-items-center"
  >
    <div [style]="{ width: '500px' }">
      <login-form></login-form>
    </div>
  </div>

  <div [style]="{ width: '50%' }" class="flex gap-0">
    <div class="flex f-direction-col gap-0 flex-1">
      <div
        class="flex f-direction-col flex-1"
        [style]="{
          backgroundColor: '#ecf9ff',
          padding: '20px',
          borderRadius: '20px',
          gap: '50px',
          width: '100%'
        }"
      >
        <div class="flex f-direction-col gap-0">
          <p class="p-0">¡Comparte lo que te encanta!</p>
          <p class="p-2 color-grey-600">
            Muestra a tus amigos tus páginas favoritas 🌐💫
          </p>
        </div>
        <div [style]="{ width: '400px', margin: 'auto' }" class="color-primary">
          <svg-loader src="assets/source-5.svg"></svg-loader>
        </div>
      </div>
      <div
        class="flex f-direction-col flex-1"
        [style]="{
          backgroundColor: 'var(--grey-100)',
          padding: '20px',
          borderRadius: '20px',
          gap: '50px',
          width: '100%'
        }"
      >
        <div class="flex f-direction-col gap-0">
          <p class="p-0">Dale forma a tus ideas</p>
          <p class="p-2 color-grey-600">
            Agrupa tus páginas y trabaja de manera más fluida 🚀
          </p>
        </div>
        <div [style]="{ width: '400px', margin: 'auto' }" class="color-primary">
          <svg-loader src="assets/source-6.svg"></svg-loader>
        </div>
      </div>
    </div>

    <div
      class="flex f-direction-col flex-1"
      [style]="{
        backgroundColor: 'var(--green-50)',
        padding: '20px',
        borderRadius: '20px',
        gap: '100px',
        width: '50%',
        height: '100%'
      }"
    >
      <div class="flex f-direction-col gap-0">
        <p class="p-0">Haz tu propia biblioteca web</p>
        <p class="p-2 color-grey-600">
          Guarda tus páginas, organízalas y vuelve a ellas cuando lo necesites
          📚
        </p>
      </div>
      <div [style]="{ width: '400px', margin: 'auto' }" class="color-primary">
        <svg-loader src="assets/source-4.svg"></svg-loader>
      </div>
    </div>
  </div>
</div>
