<div class="container flex px-2 py-1 gap-0 justify-content-space-between">
  <div
    *ngIf="selectedPageIdsLength$ | async"
    class="flex align-items-center gap-1 flex-1 justify-content-space-between border-r"
  >
    <div class="flex align-items-center gap-0">
      <button
        class="button text color-primary px-00"
        (click)="pagesStateService.clearSelection()"
      >
        <svg
          class="icon"
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
        >
          <path
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-2 10H7v-2h10z"
          ></path>
        </svg>
      </button>
      <p class="p-4">Seleccionados {{ selectedPageIdsLength$ | async }}</p>
    </div>
    <div class="px-1">
      <button class="button text color-grey-500">
        Eliminar
        <svg
          class="icon"
          style="width: 20px"
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
        >
          <path
            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6zM19 4h-3.5l-1-1h-5l-1 1H5v2h14z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div class="flex gap-1" *ngIf="!(selectedPageIdsLength$ | async)">
    <!--
    <app-filter-button
      [filter]="{ name: 'name', actions: ['asc', 'desc'] }"
      (onFilterChange)="setFilter($event)"
    >
      <svg
        icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M8.12 14.71 12 10.83l3.88 3.88c.39.39 1.02.39 1.41 0s.39-1.02 0-1.41L12.7 8.71a.996.996 0 0 0-1.41 0L6.7 13.3c-.39.39-.39 1.02 0 1.41.39.38 1.03.39 1.42 0"
        ></path>
      </svg>
      <svg
        active-icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M8.12 9.29 12 13.17l3.88-3.88c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41l-4.59 4.59c-.39.39-1.02.39-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0"
        ></path>
      </svg>
      Nombre
    </app-filter-button>
     -->
    <app-filter-button
      [filter]="{ name: 'createdAt', actions: ['asc', 'desc'] }"
      (onFilterChange)="setFilter($event)"
    >
      <svg
        icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2M12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8m-.22-13h-.06c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24.21-.34.1-.79-.25-.99l-3.87-2.3V7.72c0-.4-.32-.72-.72-.72"
        ></path>
      </svg>
      Mas reciente
    </app-filter-button>
  </div>

  <div class="flex">
    <app-filter-button
      [filter]="{ name: 'layout', actions: ['list', 'grid'] }"
      (onFilterChange)="pagesListLayoutService.changeLayout()"
    >
      <svg
        *ngIf="(layout$ | async) === 'grid'"
        icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M11 11V3H5c-1.1 0-2 .9-2 2v6zm2 0h8V5c0-1.1-.9-2-2-2h-6zm-2 2H3v6c0 1.1.9 2 2 2h6zm2 0v8h6c1.1 0 2-.9 2-2v-6z"
        ></path>
      </svg>
      <svg
        *ngIf="(layout$ | async) !== 'grid'"
        icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M4 14h2c.55 0 1-.45 1-1v-2c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1m0 5h2c.55 0 1-.45 1-1v-2c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1M4 9h2c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1m5 5h11c.55 0 1-.45 1-1v-2c0-.55-.45-1-1-1H9c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1m0 5h11c.55 0 1-.45 1-1v-2c0-.55-.45-1-1-1H9c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1M8 6v2c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V6c0-.55-.45-1-1-1H9c-.55 0-1 .45-1 1"
        ></path>
      </svg>
      {{ (layout$ | async) === "grid" ? "Cuadricula" : "Lista" }}
    </app-filter-button>
  </div>
</div>
