<div class="container flex f-direction-col justify-content-center">
  <div *ngIf="!editable" class="flex f-direction-col">
    <p
      [style]="{ zIndex: '100' }"
      class="p-2 f-w-600 px-00 py-00"
      (dblclick)="enableEdition('name')"
    >
      {{ page.name }}
    </p>
    <p
      [style]="{ zIndex: '100' }"
      class="p-3 px-00 py-00"
      (dblclick)="enableEdition('url')"
    >
      {{ page.url }}
    </p>
  </div>
  <!-- note: if you have more than one input so ngsubmit dosent triggered when press enter -->
  <form class="flex f-direction-col" *ngIf="editable" [formGroup]="form">
    <input
      #titleF
      formControlName="name"
      (blur)="saveChanges($event)"
      (keydown.enter)="saveChanges($event)"
      class="p-2 f-w-600 px-00 py-00"
      [ngClass]="{ active: fieldFocus === 'name' }"
      [style]="{
        position: 'relative',
        zIndex: '100',
        backgroundColor: 'inherit'
      }"
    />
    <input
      #urlF
      formControlName="url"
      class="p-3 px-00 py-00"
      [ngClass]="{ active: fieldFocus === 'url' }"
      (keydown.enter)="saveChanges($event)"
      (blur)="saveChanges($event)"
      [style]="{
        position: 'relative',
        zIndex: '100',
        backgroundColor: 'inherit'
      }"
    />
  </form>
  <p *ngIf="!small" class="p-4">
    Creado el {{ page.createdAt | date : "dd/MM/yyyy HH:mm" }}
  </p>
</div>
