<div class="container flex f-direction-col gap-1">
  <div class="flex justify-content-space-between align-items-center">
    <p class="p-2">{{ data.title }}</p>
    <button (click)="close()">
      <svg
        style="width: 20px"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
        ></path>
      </svg>
    </button>
  </div>
  <p *ngIf="data.subtitle" class="p-2">{{ data.subtitle }}</p>
  <div>
    <ng-container
      *ngComponentOutlet="data.component; injector: data.customInjector"
    ></ng-container>
  </div>
</div>
