<div class="flex f-direction-col gap-1 flex-1 h-full">
  <pages-list-heading></pages-list-heading>

  <div
    *ngIf="!(pageService.pagesLength$ | async)"
    class="h-full flex f-direction-col justify-content-center"
  >
    <empty-state>
      <div img [style]="{ width: '200px' }" class="color-primary">
        <svg-loader src="assets/without-pages.svg"> </svg-loader>
      </div>
      <p text>No tienes paginas guardadas, empieza añadiendo uno.</p>
    </empty-state>
  </div>

  <drag-select-container
    *ngIf="(pageService.pages$ | async)?.length"
    class="list-container gap-1 px-2"
    [ngClass]="{ 'one-column': !(isGridLayout$ | async) }"
    (onDetectNodes)="pagesStateService.selectPages($event)"
  >
    <drop-zone
      *ngFor="let page of pageService.pages$ | async; let i = index"
      #child
      [attr.data-id]="page._id"
      [ngClass]="{ 'w-full': !(isGridLayout$ | async) }"
      [disabled]="
        dragAndDropService.activeDraggableItems.includes(page._id) ||
        dragAndDropService.draggableItemType !== 'page'
      "
      (onDrop)="handleDrop(page)"
    >
      <draggable-item
        [isDraggable]="isDraggable(page._id)"
        [data]="{ type: 'page', id: page._id }"
        [isDraggabling]="isDraggabling ? selectedIds.includes(page._id) : false"
        [gosthImgUrl]="'assets/file-link.png'"
        (onDragStart)="handleDragStart(page._id)"
        (onDragEnd)="isDraggabling = false"
      >
        <selectable-card
          [isDisabled]="!!pageIdWithFormOpen"
          [selected]="pagesStateService.isSelected(page._id)"
          (hasHover)="cardHasHover = $event ? i : undefined"
          (onSelect)="pagesStateService.selectPage(page._id)"
          (onUnSelect)="pagesStateService.unSelectPage(page._id)"
        >
          <page-card [small]="!(isGridLayout$ | async)" [page]="page">
            <page-card-body
              [small]="!(isGridLayout$ | async)"
              [page]="page"
              [isFormDisabled]="(pageService.action$ | async) === 'editing'"
              (isEditing)="hideActions($event, page._id)"
              (submitChanges)="updatePage($event)"
              body
            ></page-card-body>
            <div
              *ngIf="
                (pageService.action$ | async) === 'editing' &&
                pageIdInEditing === page._id
              "
              actions
              class="flex justify-content-center align-items-center px-2"
            >
              <loading-spinner size="30px"></loading-spinner>
            </div>
            <page-card-actions
              *ngIf="
                !pageIdInEditing &&
                pageIdWithFormOpen !== page._id &&
                !(pagesStateService.pagesLength$ | async) &&
                (cardHasHover === i || !!(isGridLayout$ | async))
              "
              [collapsed]="!!(isGridLayout$ | async)"
              (actionPerformed)="handleAction(page._id, $event)"
              actions
            ></page-card-actions>
          </page-card>
        </selectable-card>
      </draggable-item>
    </drop-zone>
  </drag-select-container>
  <app-custom-pagination
    [itemsPerPage]="pageService.paginationService.size"
    [totalItems]="(pageService.paginationService.total$ | async) || 0"
    (pageChange)="changePage($event)"
  ></app-custom-pagination>
</div>
