<div
  class="px-1 py-1"
  [ngStyle]="{
    position: 'sticky',
    top: '0',
    zIndex: '100',
    backgroundColor: 'var(--grey-200)'
  }"
>
  <button
    *ngIf="!bookmarkService.isSaved"
    class="w-full button color-white bg-color-primary flex justify-content-center"
    [disabled]="bookmarkService.loading"
    (click)="bookmarkService.saveCurrentPage()"
  >
    Guardar página <span [style]="{ marginLeft: '5px' }">💾</span>
  </button>
</div>
<div class="px-1 py-1" [ngStyle]="{ position: 'relative' }">
  <input
    placeholder="Buscar"
    [formControl]="searchControl"
    class="input w-full bg-color-grey-100"
  />
  <div
    *ngIf="loading"
    class="flex f-direction-col justify-content-center px-1"
    [ngStyle]="{
      position: 'absolute',
      right: '0px',
      top: '0px',
      bottom: '0px',
      background: 'transparent'
    }"
  >
    <loading-spinner size="25px"></loading-spinner>
  </div>
</div>

<div *ngIf="loading" class="flex justify-content-center">
  <loading-spinner></loading-spinner>
</div>
<ng-container *ngIf="!(isSearching | async) ? true : (groupId$ | async)">
  <ng-container *ngFor="let group of bookmarkService.groups">
    <extension-list-accordion
      *ngIf="(groupId$ | async) ? (groupId$ | async) === group._id : true"
      [header]="group.name"
      (onClick)="selectGroup(group._id)"
    >
      <svg
        icon
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
        class="icon"
        style="width: 20px; height: 20px"
      >
        <path
          _ngcontent-lfw-c80=""
          d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8z"
        ></path>
      </svg>
    </extension-list-accordion>
  </ng-container>
</ng-container>
<ng-container *ngIf="groupId$ | async">
  <div class="flex f-direction-col">
    <a
      *ngFor="let url of urls"
      [href]="url.url"
      target="_blank"
      class="flex align-items-center gap-1 hover-bg-color-grey-300 px-1 py-1"
    >
      <div [ngStyle]="{ width: '25px' }">
        <img [src]="url.thumbnailUrl" class="w-full" />
      </div>
      <div>
        <p class="p-5">{{ url.name }}</p>
      </div>
    </a>
  </div>
</ng-container>

<ng-container *ngIf="!(groupId$ | async)">
  <extension-list-accordion
    [header]="(isSearching | async) ? 'Resultados' : 'Bandeja'"
    [active]="true"
    [disabled]="true"
  >
    <svg
      icon
      class="icon"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
      class="icon"
      style="width: 20px"
    >
      <path
        _ngcontent-lfw-c85=""
        d="M19 3H4.99c-1.11 0-1.98.89-1.98 2L3 19c0 1.1.88 2 1.99 2H19c1.1 0 2-.9 2-2V5c0-1.11-.9-2-2-2m0 12h-4c0 1.66-1.35 3-3 3s-3-1.34-3-3H4.99V5H19z"
      ></path>
    </svg>
    <div #container class="flex f-direction-col">
      <a
        *ngFor="let url of urls"
        [href]="url.url"
        target="_blank"
        class="flex align-items-center gap-1 hover-bg-color-grey-300 px-1 py-1"
      >
        <div [ngStyle]="{ width: '25px' }">
          <img [src]="url.thumbnailUrl" class="w-full" />
        </div>
        <div>
          <p class="p-5">{{ url.name }}</p>
        </div>
      </a>
    </div>
  </extension-list-accordion>

  <div
    *ngIf="urls.length && !stopped"
    class="px-1 py-1"
    observe
    (observed)="getNextPage()"
    class="flex justify-content-center"
  >
    <loading-spinner></loading-spinner>
  </div>
</ng-container>
