<app-sidebar-link
  [routerLink]="formActive || isEditing ? null : ['/group', group._id]"
>
  <svg
    icon
    class="icon"
    style="width: 20px; height: 20px"
    focusable="false"
    aria-hidden="true"
    viewBox="0 0 24 24"
  >
    <path
      d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8z"
    ></path>
  </svg>

  <p
    *ngIf="!isEditing"
    [style.color]="'inherit'"
    class="p-3"
    (dblclick)="enableEdition()"
  >
    {{ name }}
  </p>
  <form
    [formGroup]="form"
    *ngIf="isEditing"
    class="flex-1"
    (ngSubmit)="emitSubmitEvent()"
  >
    <input #ref autofocus formControlName="name" (blur)="triggerBlurEvent()" />
  </form>
  <ng-content></ng-content>
</app-sidebar-link>
