<div
  class="flex justify-content-space-between align-items-stretch w-full py-2 px-2"
>
  <div
    class="input-with-icon flex align-items-center bg-color-grey-200 border-radius"
  >
    <div
      class="flex f-direction-col justify-content-center px-1 color-grey-500"
    >
      <svg
        class="icon"
        focusable="false"
        aria-hidden="true"
        viewBox="0 0 24 24"
      >
        <path
          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14"
        ></path>
      </svg>
    </div>
    <input placeholder="Buscar" />
  </div>

  <ng-template dropdown-content [originConection]="dref">
    <div
      class="py-1 px-1 border border-radius elevation"
      [style]="{ minWidth: '320px', backgroundColor: 'var(--grey-50)' }"
    >
      <page-register-form
        (onSubmit)="createPage($event.url)"
      ></page-register-form>
    </div>
  </ng-template>

  <button
    #dref="dropdown-origin"
    dropdown-origin
    class="button bg-color-primary color-white"
  >
    <svg
      class="icon"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
      color
    >
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6z"></path>
    </svg>
    Añadir
  </button>
</div>
