.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.splitter {
  position: relative;
  width: 1px;
  background-color: var(--border-color);
  height: 100%;
  cursor: col-resize;
}

.splitter::after {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 4px;
  background-color: var(--border-color);
  height: 100%;
  transform: translateX(-50%);
}

.splitter:hover.splitter::after {
  display: block;
}

.groups-section {
  background-color: var(--grey-200);
}

.main-section {
  position: relative;
  flex: 1;
}

.gap-1 {
  gap: var(--gap-1);
}
